body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(2, 2, 43);
}


.mainB,.chkbx{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-property: box-shadow;
    transition: 1.5s ease-in-out;
}

.chkbx{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #02022B;
    box-shadow: inset 5px 5px 17px #010111,
        inset -5px -5px 17px #030345;

}

.chkbx::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 100px;
    border-radius: 4px;
    background: url('https://img.icons8.com/cotton/48/000000/shutdown--v2.png') 27px 27px no-repeat;
    box-shadow:  5px 5px 17px #010111,
                -5px -5px 17px #030345;
}

.chkbx:checked{
    height: 190px;
    width: 190px;
    background: #02022B;
    box-shadow:  5px 5px 17px #010111,
                -5px -5px 17px #030345;

}
.chkbx:checked::after{
    background: url('https://img.icons8.com/officel/48/000000/shutdown.png') 27px 27px no-repeat;
    box-shadow: inset 5px 5px 17px #010111,
        inset -5px -5px 17px #030345;
}
.chkbx:active::after{
    background: url('https://img.icons8.com/emoji/48/000000/white-circle-emoji.png') 27px 27px no-repeat;
    box-shadow:  5px 5px 17px #010111,
                 -5px -5px 17px #030345;
}
